* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    background: #659DBD;
    color: black;
}

  
  body {
    font-size: 20px;
    color: white;
    text-align: center;
     width: auto; 
  }

  h1, h2 {
    font-size: 40px;
  }


  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
  }
  
  
  #container {
    padding: 100px 0;
    color: white;
  }

  .buttonHome {
    background-color: #8d8741;
  }

  .buttonAbout {
    background-color: #DAAD86;
  }

  .buttonProjects {
    background-color: #BC986A
  }

  .buttonContact{
    background-color: #FBEEc1;
  }

  button {
    background-color: white;
    color: black;
    font-size: 20px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 5px;
  }

  button:hover {
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  button:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
  }


  #projectsPage {
    display: block;
    max-width: 50%;
    margin: auto;
    border-bottom: solid black;
    }

  p.projectsAbout {
    max-width: 92%;
    margin: auto;
  }

  #aboutMePage {
    max-width: 38%;
    margin: auto;
    font-size: 20px;
  }

  div {
  padding: 20px;
    }

    a:link {
      color: blue;
      text-decoration: none;
    }

    a:visited{
      color: purple;
    }

    a:active {
      color: purple;
      text-decoration: underline;
    }

    a:hover {
      text-decoration: underline;
    } 


@media only screen and (max-width: 320px) {
  body {
    font-size: 15px;
    color: black;
    text-align: center;
  }

  button {
    font-size: 10px;
    border-radius: 8px;
  }

  img {
    width: 100%;
    height: auto;
  }

  .contactLogos {
    width: 20%;
  }

  .techLogos {
    width: 20%;
  }

  #thrones {
    height: auto;
    width: 100%;

  }

  nav {
    background: rgb(109, 109, 109);
    padding: 10px;
  }

  #projectsPage {
    max-width: 80%;
  }

  #aboutMePage {
    max-width: 80%;
  }

}

@media only screen and (max-width: 425px) {
  body {
    font-size: 18px;
    color: black;
    text-align: center;
  }

    button {
    font-size: 14px;
  }  

  img {
    width: 100%;
    height: auto;
  }

  .contactLogos {
    width: 20%;
  }

  .techLogos {
    width: 20%;
  }

  #thrones {
    height: auto;
    width: 100%;

  }

  nav {
    background: rgb(109, 109, 109);
    padding: 10px;
  }

  #projectsPage {
    max-width: 80%;
  }

  #aboutMePage {
    max-width: 80%;
  }

}

@media only screen and (max-width: 768px) {
  #projectsPage {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  #projectsPage {
    max-width: 100%;
  }
}